<a href="https://colab.research.google.com/github/ayan59dutta/election_parameters/blob/master/election_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load data from Github repo

In [0]:
!git clone https://github.com/ayan59dutta/election_parameters.git

# Load data from file into dataframes

In [0]:
import pandas as pd
import numpy as np

In [0]:
colmn_list = ['Candidate', 'Constituency', 'Criminal Case', 'Education', 'Total Assets', 'Liabilities']

def convert(x):
    return int(x.split()[1].replace(',', '').replace('~', ''))

df1_cand_details = pd.read_excel('election_parameters/data/MyNeta_UP_Assembly_ELections_2017.xlsx',
                          usecols=colmn_list,
                          converters={'Candidate': lambda x:x.upper(),
                                     'Total Assets': convert,
                                     'Liabilities': convert})

df1_cand_details['Net Assets'] = df1_cand_details['Total Assets'] - df1_cand_details['Liabilities']
df1_cand_details = df1_cand_details.drop(columns=['Total Assets', 'Liabilities'])
df1_cand_details.rename(columns={'Candidate': 'CAND_NAME', 
                                 'Constituency': 'AC_NAME', 
                                 'Criminal Case': 'C_CASE',
                                 'Education': 'EDU', 
                                 'Net Assets': 'NET_ASSETS'}, 
                        inplace=True)
df1_cand_details

In [0]:
colmn_list = ['ST_CODE', 'AC_NAME', 'AC_TYPE', 'CAND_NAME', 'CAND_SEX', 
              'CAND_CATEGORY', 'CAND_AGE', 'TOTVOTPOLL', 'POSITION']

df_ae12 = pd.read_excel('election_parameters/data/AE2012_8913.xls',
                        usecols=colmn_list,
                        header=1,
                        converters={'AC_NAME': lambda x: x.upper()})

df_ae12 = df_ae12[df_ae12.ST_CODE == 'S24']

df_ae12 = df_ae12.drop('ST_CODE', axis=1).reset_index().drop('index', axis=1)

df_ae12

In [0]:
la_2017 = pd.read_excel('election_parameters/data/LA_2017.xls', 
                        usecols = [1, 6, 7, 8, 9,10, 11, 13, 14], 
                        converters={'AC_NAME': lambda x:x.upper(),
                                    'CAND_NAME': lambda x: x.upper()})
la_2017  = la_2017.drop(la_2017[la_2017.ST_NAME != 'Uttar Pradesh'].index)
la_2017 = la_2017.drop('ST_NAME', axis = 1).reset_index().drop('index', axis=1)
la_2017

## Join the dataframes

In [0]:
la17_df = la_2017.merge(right=df1_cand_details, 
                        how='left',
                        on=['AC_NAME', 'CAND_NAME'])
la17_df

### Dropping NOTA

In [0]:
la17_df = la17_df[la17_df.CAND_NAME != 'NONE OF THE ABOVE']
la17_df

### Dropping NaN values

In [0]:
la17_df = la17_df.dropna().reset_index(drop=True)
la17_df

### Change datatypes of columns from float to int

In [0]:
la17_df = la17_df.astype({"CAND_AGE": int, "C_CASE" : int, "NET_ASSETS": int})
la17_df

## Set Targets

In [0]:
la17_df.loc[la17_df['POSITION'] == 1, 'POSITION'] = 1
la17_df.loc[la17_df['POSITION'] > 1, 'POSITION'] = 0
la17_df