<a href="https://colab.research.google.com/github/ayan59dutta/election_parameters/blob/master/election_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load data from Github repo

In [1]:
!git clone https://github.com/ayan59dutta/election_parameters.git

Cloning into 'election_parameters'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 23 (delta 5), reused 16 (delta 3), pack-reused 0
Unpacking objects: 100% (23/23), done.

# Load data from file into dataframes

In [0]:
import pandas as pd
import numpy as np

In [3]:
colmn_list = ['Candidate', 'Constituency', 'Criminal Case', 'Education', 'Total Assets', 'Liabilities']

def convert(x):
    return int(x.split()[1].replace(',', '').replace('~', ''))

df1_cand_details = pd.read_excel('election_parameters/data/MyNeta_UP_Assembly_ELections_2017.xlsx',
                          usecols=colmn_list,
                          converters={'Candidate': lambda x:x.upper(),
                                     'Total Assets': convert,
                                     'Liabilities': convert})

df1_cand_details['Net Assets'] = df1_cand_details['Total Assets'] - df1_cand_details['Liabilities']
df1_cand_details = df1_cand_details.drop(columns=['Total Assets', 'Liabilities'])
df1_cand_details.rename(columns={'Candidate': 'CAND_NAME', 
                                 'Constituency': 'AC_NAME', 
                                 'Criminal Case': 'C_CASE',
                                 'Education': 'EDU', 
                                 'Net Assets': 'NET_ASSETS'}, 
                        inplace=True)
df1_cand_details

                             CAND_NAME  ... NET_ASSETS
0                              A HASIV  ...   33578492
1                              A WAHID  ...      75106
2              AAN SHIKHAR SHRIVASTAVA  ...      41000
3                     AAPTAB URF AFTAB  ...      20000
4                           AASHI GAUR  ...    3468543
5                           AASHIF BEG  ...    1330000
6                            AATMA RAM  ...    2326259
7                             AATMARAM  ...     782500
8                          ABBAS AHMAD  ...    1131432
9     ABBAS ALI ZAIDI URF RUSHDI MIYAN  ...   20602366
10                        ABBAS ANSARI  ...   44176635
11                       ABBAS MEHANDI  ...     503000
12                          ABDUL AZIZ  ...    7580000
13                         ABDUL KALAM  ...   22873529
14                         ABDUL LATIF  ...     148000
15                        ABDUL MABOOD  ...    1053000
16                        ABDUL MANNAN  ...   22422000
17                   ABDUL MAROOF KHAN  ...   80747076
18          ABDUL MASHHOOD KHAN MASOOD  ...   24218134
19                        ABDUL RAHMAN  ...    1508900
20                          ABDUL RAUF  ...     944000
21                          ABDUL RAUK  ...    1389047
22                  ABDUL SAMAD ANSARI  ...   34752230
23                        ABDUL SATTAR  ...     685000
24                         ABDUL WAHAB  ...   70279000
25                        ABDUL WAHEED  ...    9371914
26                    ABDUL WARIS KHAN  ...   58788945
27         ABHAY KUMAR URF DHIRAJ OJHA  ...   13180023
28                 ABHAY NATH TRIPATHI  ...   12228742
29                         ABHAY SINGH  ...   51811663
...                                ...  ...        ...
4797                    YOGENDRA SINGH  ...    8169339
4798                 YOGENDRA UPADHYAY  ...   18427155
4799                 YOGENDRAPAL SINGH  ...     150000
4800                            YOGESH  ...    5835000
4801                  YOGESH CHAUDHARY  ...  104091573
4802                      YOGESH DHAMA  ...   25476703
4803                      YOGESH DIXIT  ...  106028612
4804                      YOGESH KUMAR  ...   21648002
4805                      YOGESH KUMAR  ...      20500
4806                      YOGESH KUMAR  ...     123000
4807                YOGESH KUMAR TYAGI  ...    3819392
4808               YOGESH PRATAP SINGH  ...    2435000
4809               YOGESH PRATAP SINGH  ...  145854284
4810                      YOGESH VERMA  ...    8689099
4811                      YOGESH VERMA  ...   19038764
4812               YOGINI NIRMALA DEVI  ...       7000
4813              YOGISH CHANDRA DUBEY  ...      10000
4814                      YOGRAJ SINGH  ...   22594535
4815                             YUSUF  ...     244399
4816                        ZAFAR ALAM  ...  409163000
4817                         ZAHID BEG  ...   14246039
4818                       ZAHIR FATMA  ...    4372752
4819                     ZAINUL ABEDIN  ...     600000
4820                         ZAKIR ALI  ...    9888000
4821                         ZAKIR ALI  ...  189750228
4822                    ZAKIR ALI RANA  ...   46819551
4823                 ZAMEER ULLAH KHAN  ...   14521200
4824                       ZEBA RIZWAN  ...     357000
4825                   ZIYAUDDIN RIZVI  ...   22463063
4826                     ZURGHAM MEHDI  ...   11073183

[4827 rows x 5 columns]

In [4]:
colmn_list = ['ST_CODE', 'AC_NAME', 'AC_TYPE', 'CAND_NAME', 'CAND_SEX', 
              'CAND_CATEGORY', 'CAND_AGE', 'TOTVOTPOLL', 'POSITION']

df_ae12 = pd.read_excel('election_parameters/data/AE2012_8913.xls',
                        usecols=colmn_list,
                        header=1,
                        converters={'AC_NAME': lambda x: x.upper()})

df_ae12 = df_ae12[df_ae12.ST_CODE == 'S24']

df_ae12 = df_ae12.drop('ST_CODE', axis=1).reset_index().drop('index', axis=1)

df_ae12

               AC_NAME AC_TYPE  ... TOTVOTPOLL POSITION
0                BEHAT     GEN  ...      70274        1
1                BEHAT     GEN  ...      69760        2
2                BEHAT     GEN  ...      47366        3
3                BEHAT     GEN  ...      23623        4
4                BEHAT     GEN  ...       2251        5
5                BEHAT     GEN  ...       1774        6
6                BEHAT     GEN  ...       1399        7
7                BEHAT     GEN  ...       1308        8
8                BEHAT     GEN  ...        781        9
9                BEHAT     GEN  ...        726       10
10               BEHAT     GEN  ...        702       11
11               BEHAT     GEN  ...        593       12
12               BEHAT     GEN  ...        565       13
13               NAKUR     GEN  ...      89187        1
14               NAKUR     GEN  ...      84623        2
15               NAKUR     GEN  ...      29503        3
16               NAKUR     GEN  ...      14226        4
17               NAKUR     GEN  ...       6634        5
18               NAKUR     GEN  ...       1126        6
19               NAKUR     GEN  ...       1095        7
20               NAKUR     GEN  ...        866        8
21               NAKUR     GEN  ...        701        9
22               NAKUR     GEN  ...        642       10
23               NAKUR     GEN  ...        553       11
24               NAKUR     GEN  ...        484       12
25               NAKUR     GEN  ...        405       13
26               NAKUR     GEN  ...        294       14
27               NAKUR     GEN  ...        278       15
28               NAKUR     GEN  ...        134       16
29    SAHARANPUR NAGAR     GEN  ...      85170        1
...                ...     ...  ...        ...      ...
7001              OBRA     GEN  ...       1591       12
7002              OBRA     GEN  ...       1555       13
7003              OBRA     GEN  ...       1387       14
7004              OBRA     GEN  ...       1336       15
7005              OBRA     GEN  ...       1298       16
7006              OBRA     GEN  ...       1287       17
7007              OBRA     GEN  ...        954       18
7008              OBRA     GEN  ...        952       19
7009              OBRA     GEN  ...        839       20
7010              OBRA     GEN  ...        837       21
7011              OBRA     GEN  ...        830       22
7012              OBRA     GEN  ...        801       23
7013              OBRA     GEN  ...        746       24
7014              OBRA     GEN  ...        670       25
7015              OBRA     GEN  ...        520       26
7016              OBRA     GEN  ...        483       27
7017              OBRA     GEN  ...        455       28
7018              OBRA     GEN  ...        424       29
7019              OBRA     GEN  ...        391       30
7020           DUDDHI       SC  ...      42028        1
7021           DUDDHI       SC  ...      35989        2
7022           DUDDHI       SC  ...      32797        3
7023           DUDDHI       SC  ...      29480        4
7024           DUDDHI       SC  ...       6879        5
7025           DUDDHI       SC  ...       3160        6
7026           DUDDHI       SC  ...       2876        7
7027           DUDDHI       SC  ...       1813        8
7028           DUDDHI       SC  ...       1690        9
7029           DUDDHI       SC  ...       1439       10
7030           DUDDHI       SC  ...       1057       11

[7031 rows x 8 columns]

In [9]:
la_2017 = pd.read_excel('election_parameters/data/LA_2017.xls', 
                        usecols = [1, 6, 7, 8, 9,10, 11, 13, 14], 
                        converters={'AC_NAME': lambda x:x.upper(),
                                    'CAND_NAME': lambda x: x.upper()})
la_2017  = la_2017.drop(la_2017[la_2017.ST_NAME != 'Uttar Pradesh'].index)
la_2017 = la_2017.drop('ST_NAME', axis = 1).reset_index().drop('index', axis=1)
la_2017

               AC_NAME AC_TYPE  ... TOTALVALIDVOTESPOLLED POSITION
0                BEHAT     GEN  ...                 97035        1
1                BEHAT     GEN  ...                 71449        2
2                BEHAT     GEN  ...                 71019        3
3                BEHAT     GEN  ...                  4187        4
4                BEHAT     GEN  ...                  1576        5
5                BEHAT     GEN  ...                  1255        6
6                BEHAT     GEN  ...                  1150        7
7                BEHAT     GEN  ...                  1113        8
8                BEHAT     GEN  ...                   945        9
9                BEHAT     GEN  ...                   810       10
10               BEHAT     GEN  ...                   659       11
11               BEHAT     GEN  ...                   617       12
12               BEHAT     GEN  ...                   425       13
13               BEHAT     GEN  ...                   319       14
14               NAKUR     GEN  ...                 94375        1
15               NAKUR     GEN  ...                 90318        2
16               NAKUR     GEN  ...                 65328        3
17               NAKUR     GEN  ...                  1232        4
18               NAKUR     GEN  ...                   944        5
19               NAKUR     GEN  ...                   814        6
20               NAKUR     GEN  ...                   813        7
21               NAKUR     GEN  ...                   783        8
22               NAKUR     GEN  ...                   295        9
23               NAKUR     GEN  ...                   245       10
24               NAKUR     GEN  ...                   245       11
25               NAKUR     GEN  ...                   140       12
26    SAHARANPUR NAGAR     GEN  ...                127210        1
27    SAHARANPUR NAGAR     GEN  ...                122574        2
28    SAHARANPUR NAGAR     GEN  ...                 17350        3
29    SAHARANPUR NAGAR     GEN  ...                   934        4
...                ...     ...  ...                   ...      ...
5277       ROBERTSGANJ     GEN  ...                  1163       12
5278       ROBERTSGANJ     GEN  ...                  1060       13
5279       ROBERTSGANJ     GEN  ...                   844       14
5280       ROBERTSGANJ     GEN  ...                   686       15
5281       ROBERTSGANJ     GEN  ...                   654       16
5282       ROBERTSGANJ     GEN  ...                   601       17
5283       ROBERTSGANJ     GEN  ...                   598       18
5284       ROBERTSGANJ     GEN  ...                   560       19
5285       ROBERTSGANJ     GEN  ...                   522       20
5286              OBRA      ST  ...                 78058        1
5287              OBRA      ST  ...                 33789        2
5288              OBRA      ST  ...                 29113        3
5289              OBRA      ST  ...                  6198        4
5290              OBRA      ST  ...                  4305        5
5291              OBRA      ST  ...                  3272        6
5292              OBRA      ST  ...                  1825        7
5293              OBRA      ST  ...                  1709        8
5294              OBRA      ST  ...                  1631        9
5295              OBRA      ST  ...                  1110       10
5296              OBRA      ST  ...                  1102       11
5297              OBRA      ST  ...                   731       12
5298           DUDDHI       ST  ...                 64399        1
5299           DUDDHI       ST  ...                 63314        2
5300           DUDDHI       ST  ...                 46090        3
5301           DUDDHI       ST  ...                  8522        4
5302           DUDDHI       ST  ...                  4699        5
5303           DUDDHI       ST  ...                  3312        6
5304           DUDDHI       ST  ...                  2431        7
5305           DUDDHI       ST  ...                  2147        8
5306           DUDDHI       ST  ...                  1686        9

[5307 rows x 8 columns]

## Join the dataframes

In [7]:
la17_df = la_2017.merge(right=df1_cand_details, 
                        how='left',
                        on=['AC_NAME', 'CAND_NAME'])
la17_df

               AC_NAME AC_TYPE  ...                    EDU   NET_ASSETS
0                BEHAT     GEN  ...          Post Graduate   10382291.0
1                BEHAT     GEN  ...  Graduate Professional   52678213.0
2                BEHAT     GEN  ...               Literate  129888857.0
3                BEHAT     GEN  ...              12th Pass   65633483.0
4                BEHAT     GEN  ...                    NaN          NaN
5                BEHAT     GEN  ...              10th Pass     682859.0
6                BEHAT     GEN  ...              12th Pass    9372508.0
7                BEHAT     GEN  ...               5th Pass    2277500.0
8                BEHAT     GEN  ...              10th Pass     102925.0
9                BEHAT     GEN  ...                    NaN          NaN
10               BEHAT     GEN  ...                    NaN          NaN
11               BEHAT     GEN  ...          Post Graduate     288275.0
12               BEHAT     GEN  ...               Literate   14768000.0
13               BEHAT     GEN  ...                    NaN          NaN
14               NAKUR     GEN  ...  Graduate Professional   51802100.0
15               NAKUR     GEN  ...              12th Pass   45048336.0
16               NAKUR     GEN  ...                    NaN          NaN
17               NAKUR     GEN  ...                    NaN          NaN
18               NAKUR     GEN  ...               Graduate    8856714.0
19               NAKUR     GEN  ...                    NaN          NaN
20               NAKUR     GEN  ...               5th Pass    7843900.0
21               NAKUR     GEN  ...                    NaN          NaN
22               NAKUR     GEN  ...               Graduate    3160000.0
23               NAKUR     GEN  ...               8th Pass     662000.0
24               NAKUR     GEN  ...               Graduate    9120000.0
25               NAKUR     GEN  ...              10th Pass     211900.0
26    SAHARANPUR NAGAR     GEN  ...  Graduate Professional   71631060.0
27    SAHARANPUR NAGAR     GEN  ...              12th Pass    7019578.0
28    SAHARANPUR NAGAR     GEN  ...                    NaN          NaN
29    SAHARANPUR NAGAR     GEN  ...             Illiterate    2159951.0
...                ...     ...  ...                    ...          ...
5289       ROBERTSGANJ     GEN  ...                    NaN          NaN
5290       ROBERTSGANJ     GEN  ...                    NaN          NaN
5291       ROBERTSGANJ     GEN  ...                    NaN          NaN
5292       ROBERTSGANJ     GEN  ...               8th Pass     443000.0
5293       ROBERTSGANJ     GEN  ...              12th Pass     952000.0
5294       ROBERTSGANJ     GEN  ...               8th Pass   12156000.0
5295       ROBERTSGANJ     GEN  ...              10th Pass    4401000.0
5296       ROBERTSGANJ     GEN  ...                    NaN          NaN
5297       ROBERTSGANJ     GEN  ...              10th Pass     110000.0
5298              OBRA      ST  ...                    NaN          NaN
5299              OBRA      ST  ...                    NaN          NaN
5300              OBRA      ST  ...                    NaN          NaN
5301              OBRA      ST  ...                    NaN          NaN
5302              OBRA      ST  ...                    NaN          NaN
5303              OBRA      ST  ...                    NaN          NaN
5304              OBRA      ST  ...                    NaN          NaN
5305              OBRA      ST  ...                    NaN          NaN
5306              OBRA      ST  ...                    NaN          NaN
5307              OBRA      ST  ...                    NaN          NaN
5308              OBRA      ST  ...                    NaN          NaN
5309              OBRA      ST  ...                    NaN          NaN
5310           DUDDHI       ST  ...                    NaN          NaN
5311           DUDDHI       ST  ...                    NaN          NaN
5312           DUDDHI       ST  ...                    NaN          NaN
5313           DUDDHI       ST  ...                    NaN          NaN
5314           DUDDHI       ST  ...                    NaN          NaN
5315           DUDDHI       ST  ...                    NaN          NaN
5316           DUDDHI       ST  ...                    NaN          NaN
5317           DUDDHI       ST  ...                    NaN          NaN
5318           DUDDHI       ST  ...                    NaN          NaN

[5319 rows x 11 columns]