In [0]:
!git clone https://github.com/ayan59dutta/election_parameters.git

fatal: destination path 'election_parameters' already exists and is not an empty directory.

In [0]:
import pandas as pd
import numpy as np

In [0]:
colmn_list = ['Candidate', 'Constituency', 'Criminal Case', 'Education', 'Total Assets', 'Liabilities']

def convert(x):
    return int(x.split()[1].replace(',', '').replace('~', ''))

df1_myneta_17 = pd.read_excel('election_parameters/data/MyNeta_UP_Assembly_ELections_2017.xlsx',
                          usecols=colmn_list,
                          converters={'Candidate': lambda x:x.upper(),
                                     'Total Assets': convert,
                                     'Liabilities': convert})

df1_myneta_17['Net Assets'] = df1_myneta_17['Total Assets'] - df1_myneta_17['Liabilities']
df1_myneta_17 = df1_myneta_17.drop(columns=['Total Assets', 'Liabilities'])
df1_myneta_17

                             Candidate  ... Net Assets
0                              A HASIV  ...   33578492
1                              A WAHID  ...      75106
2              AAN SHIKHAR SHRIVASTAVA  ...      41000
3                     AAPTAB URF AFTAB  ...      20000
4                           AASHI GAUR  ...    3468543
5                           AASHIF BEG  ...    1330000
6                            AATMA RAM  ...    2326259
7                             AATMARAM  ...     782500
8                          ABBAS AHMAD  ...    1131432
9     ABBAS ALI ZAIDI URF RUSHDI MIYAN  ...   20602366
10                        ABBAS ANSARI  ...   44176635
11                       ABBAS MEHANDI  ...     503000
12                          ABDUL AZIZ  ...    7580000
13                         ABDUL KALAM  ...   22873529
14                         ABDUL LATIF  ...     148000
15                        ABDUL MABOOD  ...    1053000
16                        ABDUL MANNAN  ...   22422000
17                   ABDUL MAROOF KHAN  ...   80747076
18          ABDUL MASHHOOD KHAN MASOOD  ...   24218134
19                        ABDUL RAHMAN  ...    1508900
20                          ABDUL RAUF  ...     944000
21                          ABDUL RAUK  ...    1389047
22                  ABDUL SAMAD ANSARI  ...   34752230
23                        ABDUL SATTAR  ...     685000
24                         ABDUL WAHAB  ...   70279000
25                        ABDUL WAHEED  ...    9371914
26                    ABDUL WARIS KHAN  ...   58788945
27         ABHAY KUMAR URF DHIRAJ OJHA  ...   13180023
28                 ABHAY NATH TRIPATHI  ...   12228742
29                         ABHAY SINGH  ...   51811663
...                                ...  ...        ...
4797                    YOGENDRA SINGH  ...    8169339
4798                 YOGENDRA UPADHYAY  ...   18427155
4799                 YOGENDRAPAL SINGH  ...     150000
4800                            YOGESH  ...    5835000
4801                  YOGESH CHAUDHARY  ...  104091573
4802                      YOGESH DHAMA  ...   25476703
4803                      YOGESH DIXIT  ...  106028612
4804                      YOGESH KUMAR  ...   21648002
4805                      YOGESH KUMAR  ...      20500
4806                      YOGESH KUMAR  ...     123000
4807                YOGESH KUMAR TYAGI  ...    3819392
4808               YOGESH PRATAP SINGH  ...    2435000
4809               YOGESH PRATAP SINGH  ...  145854284
4810                      YOGESH VERMA  ...    8689099
4811                      YOGESH VERMA  ...   19038764
4812               YOGINI NIRMALA DEVI  ...       7000
4813              YOGISH CHANDRA DUBEY  ...      10000
4814                      YOGRAJ SINGH  ...   22594535
4815                             YUSUF  ...     244399
4816                        ZAFAR ALAM  ...  409163000
4817                         ZAHID BEG  ...   14246039
4818                       ZAHIR FATMA  ...    4372752
4819                     ZAINUL ABEDIN  ...     600000
4820                         ZAKIR ALI  ...    9888000
4821                         ZAKIR ALI  ...  189750228
4822                    ZAKIR ALI RANA  ...   46819551
4823                 ZAMEER ULLAH KHAN  ...   14521200
4824                       ZEBA RIZWAN  ...     357000
4825                   ZIYAUDDIN RIZVI  ...   22463063
4826                     ZURGHAM MEHDI  ...   11073183

[4827 rows x 5 columns]

In [0]:
colmn_list = ['ST_CODE', 'AC_NAME', 'AC_TYPE', 'CAND_NAME', 'CAND_SEX', 
              'CAND_CATEGORY', 'CAND_AGE', 'TOTVOTPOLL', 'POSITION']

df_ae12 = pd.read_excel('election_parameters/data/AE2012_8913.xls',
                        usecols=colmn_list,
                        header=1,
                        converters={'AC_NAME': lambda x: x.upper()})

df_ae12 = df_ae12[df_ae12.ST_CODE == 'S24'].drop('ST_CODE', axis=1).reset_index().drop('index', axis=1)

df_ae12

               AC_NAME AC_TYPE  ... TOTVOTPOLL POSITION
0                BEHAT     GEN  ...      70274        1
1                BEHAT     GEN  ...      69760        2
2                BEHAT     GEN  ...      47366        3
3                BEHAT     GEN  ...      23623        4
4                BEHAT     GEN  ...       2251        5
5                BEHAT     GEN  ...       1774        6
6                BEHAT     GEN  ...       1399        7
7                BEHAT     GEN  ...       1308        8
8                BEHAT     GEN  ...        781        9
9                BEHAT     GEN  ...        726       10
10               BEHAT     GEN  ...        702       11
11               BEHAT     GEN  ...        593       12
12               BEHAT     GEN  ...        565       13
13               NAKUR     GEN  ...      89187        1
14               NAKUR     GEN  ...      84623        2
15               NAKUR     GEN  ...      29503        3
16               NAKUR     GEN  ...      14226        4
17               NAKUR     GEN  ...       6634        5
18               NAKUR     GEN  ...       1126        6
19               NAKUR     GEN  ...       1095        7
20               NAKUR     GEN  ...        866        8
21               NAKUR     GEN  ...        701        9
22               NAKUR     GEN  ...        642       10
23               NAKUR     GEN  ...        553       11
24               NAKUR     GEN  ...        484       12
25               NAKUR     GEN  ...        405       13
26               NAKUR     GEN  ...        294       14
27               NAKUR     GEN  ...        278       15
28               NAKUR     GEN  ...        134       16
29    SAHARANPUR NAGAR     GEN  ...      85170        1
...                ...     ...  ...        ...      ...
7001              OBRA     GEN  ...       1591       12
7002              OBRA     GEN  ...       1555       13
7003              OBRA     GEN  ...       1387       14
7004              OBRA     GEN  ...       1336       15
7005              OBRA     GEN  ...       1298       16
7006              OBRA     GEN  ...       1287       17
7007              OBRA     GEN  ...        954       18
7008              OBRA     GEN  ...        952       19
7009              OBRA     GEN  ...        839       20
7010              OBRA     GEN  ...        837       21
7011              OBRA     GEN  ...        830       22
7012              OBRA     GEN  ...        801       23
7013              OBRA     GEN  ...        746       24
7014              OBRA     GEN  ...        670       25
7015              OBRA     GEN  ...        520       26
7016              OBRA     GEN  ...        483       27
7017              OBRA     GEN  ...        455       28
7018              OBRA     GEN  ...        424       29
7019              OBRA     GEN  ...        391       30
7020           DUDDHI       SC  ...      42028        1
7021           DUDDHI       SC  ...      35989        2
7022           DUDDHI       SC  ...      32797        3
7023           DUDDHI       SC  ...      29480        4
7024           DUDDHI       SC  ...       6879        5
7025           DUDDHI       SC  ...       3160        6
7026           DUDDHI       SC  ...       2876        7
7027           DUDDHI       SC  ...       1813        8
7028           DUDDHI       SC  ...       1690        9
7029           DUDDHI       SC  ...       1439       10
7030           DUDDHI       SC  ...       1057       11

[7031 rows x 8 columns]

In [0]:
la_2017 = pd.read_excel('election_parameters/data/LA_2017.xls', usecols = [1, 6, 7, 8, 9,10, 11, 13, 14], converters={ 'AC_NAME': lambda x:x.upper()})
la_2017  = la_2017.drop(la_2017[((la_2017.ST_NAME != 'Uttar Pradesh'))].index)
la_2017 = la_2017.drop('ST_NAME', axis = 1)
la_2017.reindex()
la_2017